<div class="page-selection" ng-controller="selectionCtrl as selection">
   <header>
      <h1>BabyFirst</h1>
      <div class="progress-steps-cont">
         <div class="progress">
            <div class="done"></div>
         </div>
         <div class="steps">
            <div class="step">
               <span class="step-icon">1</span>
               <span class="step-name">Profile</span>
            </div>
            <div class="step">
               <span class="step-icon">2</span>
               <span class="step-name">Offers</span>
            </div>
            <div class="step">
               <span class="step-icon">3</span>
               <span class="step-name">Success</span>
            </div>
         </div>
      </div>
   </header>

   <footer>

   </footer>
</div>