<div class="page page-selection">
   <header>
      <h1>BabyFirst</h1>

      <div class="steps-cont">
         <ul>
            <!--<div class="progress">
               <div class="done"></div>
            </div>-->
            <li class="step done">Profile</li>
            <li class="step current">Offers</li>
            <li class="step">Success</li>
         </ul>
      </div>
   </header>

   <main>
      <h1>Pick your offers</h1>
      <div class="offer-gallery">
         <div class="offer" data-id="{{offer.id}}" ng-repeat="offer in selection.offers">
            <span class="selected-icon"></span>
            <span class="info-icon"></span>
            <img class="image" src="{{offer.image}}">
            <span class="tag">{{offer.tag}}</span>
            <span class="name">{{offer.name}}</span>
         </div>
      </div>

      <div class="main-nav-button">
         <span>1 of offers selected</span>
      </div>
   </main>

   <footer>
      <div class="logo-and-social">
         <img src="assets/img/img_publisher_logo.png" class="pub-logo">
         <div class="fb-like"></div>
      </div>
      <nav>
         <ul>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Logout</a></li>
         </ul>
      </nav>
   </footer>
</div>