<section class="page">
   <header>
      <h1>BabyFirst</h1>
   </header>
   <main>
      <div class="steps-cont" ng-include="'app/components/steps.html'"></div>
      
      <h1>Pick your offers</h1>
      <div class="offer-gallery">
         <div class="offer" 
              data-id="{{offer.id}}" 
              ng-class="{ unselectable: app.reachedMaxSelections(),
                          selected: app.isSelected(offer.id) }"
              ng-click="app.select(offer.id)" 
              ng-repeat="offer in app.offers">
            <span class="selected-icon"></span>
            <span class="info-icon" title="Read more about {{offer.name}}" ng-click="app.openModal(offer, $event)"></span>
            <div class="offer-image-cont">
               <img class="offer-image" ng-src="{{offer.image}}">
            </div>
            <span class="tag {{offer.tag | tagToClass}}">{{offer.tag}}</span>
            <span class="name">{{offer.name}}</span>
         </div>
      </div>
   </main>

    <!-- Modal window -->
    <aside>
       <product-details></product-details>
    </aside>

    <aside>
       <main-nav-button></main-nav-button>
    </aside>

    <footer ng-include="'app/components/footer.html'"></footer>
</section>