<section class="modal" ng-if="app.modal.active">
   <header>
      <h1>Offer Details</h1>
      <span title="Go back to offers" class="close-icon" ng-click="app.resetModal()"></span>
   </header>

   <main>
      <div class="offer">
         <div class="offer-image-cont">
            <img class="offer-image" ng-src="{{app.modal.offer.image}}">
         </div>
         <div class="under-image">
            <span class="tag {{app.modal.offer.tag | tagToClass}}">{{app.modal.offer.tag}}</span>
            <span class="name">{{app.modal.offer.name}}</span>
            <div class="brand-info">
                  <img class="brand-logo" ng-src="{{app.modal.offer.logo}}">      
                  <span class="brand-name">{{app.modal.offer.brand}}</span>      
            </div>
            <div class="description">{{app.modal.offer.description}}</div>
         </div>
      </div>
   </main>
</section>