// SEC: Global
// ===========

@import "reset.css";

// Some definitions
$pagePaddingTop: 1rem;
$pagePaddingSide: 2rem;
$pagePadding: $pagePaddingTop $pagePaddingSide;
$animSpeed: 1s;
$mainNavHeight: 6rem;
$mainNavPaddingTop: 1rem;

// Some extensible classes
.clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}


* {
   box-sizing: border-box;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   background: #fafafa;
   color: #404040;
}


// SEC: General Page
// =================

.page {
   width: 100%;
   height: 100%;
   position: relative;

   > header {
      background: #5ac8fa;

      h1 {
         padding: $pagePadding;
         font-size: 1.2rem;
         color: #fff;
      }
   }

   > main {

      .offer {
         $icon_diameter: 1.3rem;
         $icon_offset: 1rem;

         text-align: left;
         border: 1px solid #bfbfbf;
         background: #fff;
         padding: 1rem;
         position: relative;
         transition: $animSpeed;

         .selected-icon {
            position: absolute;
            transition: $animSpeed;
            left: $icon_offset;
            top: $icon_offset;
            background-image: url("../img/icon_check.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            width: $icon_diameter;
            height: $icon_diameter;
            opacity: 0;
         }

         .info-icon:before {
            position: absolute;
            z-index: 10;
            right: $icon_offset;
            top: $icon_offset;
            content: "i";
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #fff;
            font-weight: bold;
            font-size: 0.9rem;
            background: #bfbfbf;
            width: $icon_diameter;
            height: $icon_diameter;
            line-height: $icon_diameter;
            border-radius: 50%;
            text-align: center;
         }

         .offer-image-cont {
            background: #ffffff;
            text-align: center;
            width: 100%;
            height: 10rem;
            padding: 0.5rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .offer-image {
               max-width: 100%;
               max-height: 100%;
            }
         }

         .tag {
            text-align: left;
            border-radius: 2px;
            border: 1px solid #fff;
            padding: 0.2rem 0.7rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.7rem;
            display: inline-block;
            margin: 1.3rem 0 0.5rem;

            &.toddler {
               $color: #00bcd4;
               color: $color;
               border-color: $color;
               background: #f7fdfd;
            }

            &.new-born {
               $color: #9c27b0;
               color: $color;
               border-color: $color;
               background-color: #faf7fc;
            }

            &.all-ages {
               $color: #334659;
               color: $color;
               border-color: $color;
               background: #f6f7f8;
            }

            &.kids-4 {
               $color: #8cc152; 
               color: $color;
               border-color: $color;
               background-color: #fbfdf6;
            }
         }

         .name {
            text-align: left;
            display: block;
            font-weight: bold;
            line-height: 1.4;
            font-size: 0.9rem;
         }
      }

      .main-nav-button-cont {
         background: #f4f4f4;
         padding: $mainNavPaddingTop $pagePaddingSide;
         position: fixed;
         z-index: 50;
         bottom: 0;
         width: 100%;
         height: $mainNavHeight;
         display: table;

         .main-nav-button {
            background: #bfbfbf;
            padding: 0 1rem;
            font-weight: bold;
            height: 100%;
            font-size: 1rem;
            text-align: center;
            border-radius: 4px;
            display: table-cell;
            vertical-align: middle;
            text-decoration: none;
            color: #fff;
            cursor: default;

            &.active {
               background: #3a99d8;
            }
            
            &.done {
               $color: #39ca74;

               background: $color;

               span {
                  display: inline-block;

                  &:before {
                     $circle_diameter: 1rem;
                     display: inline-block;
                     content:"\2713";
                     line-height: $circle_diameter;
                     width: $circle_diameter;
                     height: $circle_diameter;
                     border-radius: 50%;
                     background: #fff;
                     color: $color;
                     margin-right: 1rem;
                     font-size: 0.8rem;
                  }
               }
            }
         }

      }
   }
}


// SEC: Selection
// ==============

.page-selection {   
   > header {

   }

   > main {

      h1 {
         padding: 2rem $pagePaddingSide;
         text-align: center;
         font-size: 1.4rem;
         font-weight: bold;
      }

      .steps-cont {
         @extend .clearfix;

         $bg_steps_cont: #f4f4f4; 
         
         padding: 1rem $pagePaddingSide;
         background: $bg_steps_cont;
         width: 100%;        
         overflow: hidden;

         ul {
            counter-reset: step;
            display: flex;
            justify-content: space-between;
            position: relative;

            li {
               $circle_diameter: 1.85rem;
               $bar_height: 0.7rem;

               list-style-type: none;
               // width: 33.333%;
               // float: left;
               position: relative;
               text-align: center;

               display: block;
               color: #808080;
               margin-top: 0.5rem;
               font-size: 0.9rem;

               // Item icon and number
               &:before {
                  line-height: $circle_diameter;
                  width: $circle_diameter;
                  height: $circle_diameter;
                  content: counter(step);
                  counter-increment: step;
                  display: block;
                  text-align: center;
                  margin: 0 auto 10px auto;
                  font-size: 0.9rem;
                  font-weight: bold;
                  background: #bfbfbf;
                  color: #eaeaea;
                  border-radius: 50%;
                  z-index: 1;
                  position: relative;
               }

               // Progress bar
               &:after {
                  width: 100vw;
                  height: $bar_height;
                  content: '';
                  position: absolute;
                  background-color: #eaeaea;
                  top: ($circle_diameter - $bar_height)/2;
                  // left: -33.33vw;
                  left: 50%;
                  z-index: 0;
               }

               &:last-child:after {
                  background: $bg_steps_cont;
               }

               &:first-child:after {
                  // content: none;
               }

               &.active {
                  $color: #3a99d8;                  
                  color: $color;
                  font-weight: bold;

                  &:before {
                     background: $color;
                     color: #fff;
                  }
               }

               &.done {
                  $color: #39ca74;

                  color: $color;
                  font-weight: bold;

                  &:before {
                     // color: #fff;
                     // background-color: #fff;
                                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                     // background-image: url("../img/icon_check.svg");
                     // background-repeat: no-repeat;
                     // background-size: 80%;
                     // background-position: center;
                     background: #39ca74;
                     content: "\2713";
                  }

                  &:after {
                     background-color: $color;
                  }
               }
            }
         }
      }

      .offer-gallery {
         padding: 0 $pagePaddingSide;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      .offer {
         transition: $animSpeed;
         border: 1px solid #bfbfbf;
         $offset: 0.5rem;
         border-radius: 4px;
         // width: 50%;
         flex-grow: 0;
         flex-shrink: 0;
         flex-basis: calc(50% - #{2*$offset});
         max-width: calc(50% - #{2*$offset});
         margin: $offset;
         cursor: pointer;
         position: relative;
         // box-sizing: border-box;
         // margin: 1rem;

         &.unselectable {
            cursor: default;
         }

         &.selected {
            cursor: pointer;
            border: 1px solid #39ca74;
            box-shadow: 0px 3px 5px 0 rgba(199, 199, 199, 0.75);

            .selected-icon {
               opacity: 1;
            }
         }

         // &:before {
            // position: relative;
            // z-index: 10;
            // width: 5rem;
            // height: 5rem;
            // background: red;
            // left: -5px;
            // top: -5px;
            // border: 1px solid #39ca74;
         // }

         &:nth-last-child(1), &:nth-last-child(2) {
            margin-bottom: 0rem;
         }
      }
   }

   > footer {
      padding: 2rem $pagePaddingSide;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: $mainNavHeight;
      // margin-bottom: calc(#{$mainNavHeight} + #{$mainNavPaddingTop});
      background: #ffffff;

      .logo-and-social {
         display: flex;
         justify-content: space-between;
         margin-bottom: 3rem;

         .pub-logo {

         }

         .fb-like {
         }
      }

      nav {
         ul {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.9rem;

            li {
               width: 50%;
               margin-bottom: 2rem;

               &:nth-last-child(1), &:nth-last-child(2) {
                  margin-bottom: 0rem;
               }
               
               a {
                  color: #404040;
                  text-decoration: none;

                  &:hover {
                     opacity: 0.8;
                     text-decoration: underline;
                  }
               }

            }
         }
      }
   }
}


// SEC: Info
// =========

.page-info {

   > header {
      display: flex;
      justify-content: space-between;

     .close-icon {
        text-decoration: none;

        &:before {
           display: block;
           content: 'x';
           color: #fff;
           padding: $pagePadding;
           font-size: 1.5rem;
           line-height: 0;
        }
     } 
   }

   > main {
      .offer {
         width: 100%;
      }

   }
}