// SEC: Global
// ===========

@import "reset.css";

// Some definitions
$page_padding_top: 1rem;
$page_padding_side: 2rem;
$page_padding: $page_padding_top $page_padding_side;

// Some extensible classes
.clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}


* {
   box-sizing: border-box;
}

html {
   font-family: Arial, Helvetica, sans-serif;
   background: #fafafa;
   color: #404040;
}


// SEC: General Page
// =================

.page {
   > header {
      h1 {
         background: #5ac8fa;
         padding: $page_padding;
         font-size: 1.2rem;
         color: #fff;
      }
   }

   > main {

      .offer {
         $icon_diameter: 1.3rem;
         $icon_offset: 1rem;

         text-align: left;
         border: 1px solid #bfbfbf;
         background: #fff;
         padding: 1rem;
         position: relative;

         .selected-icon {
            position: absolute;
            left: $icon_offset;
            top: $icon_offset;
            background-image: url("../img/icon_check.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            width: $icon_diameter;
            height: $icon_diameter;
            display: none;
         }

         .info-icon:before {
            position: absolute;
            right: $icon_offset;
            top: $icon_offset;
            content: "i";
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #fff;
            font-weight: bold;
            font-size: 0.9rem;
            background: #bfbfbf;
            width: $icon_diameter;
            height: $icon_diameter;
            line-height: $icon_diameter;
            border-radius: 50%;
            text-align: center;
         }

         .offer-image-cont {
            background: #ffffff;
            text-align: center;
            width: 100%;
            height: 10rem;
            padding: 0.5rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .offer-image {
               max-width: 100%;
               max-height: 100%;
            }
         }

         .tag {
            text-align: left;
            border-radius: 2px;
            border: 1px solid #fff;
            padding: 0.2rem 0.7rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.7rem;
            display: inline-block;
            margin: 1.3rem 0 0.5rem;

            &.toddler {
               $color: #00bcd4;
               color: $color;
               border-color: $color;
               background: #f7fdfd;
            }

            &.new-born {
               $color: #9c27b0;
               color: $color;
               border-color: $color;
               background-color: #faf7fc;
            }

            &.all-ages {
               $color: #334659;
               color: $color;
               border-color: $color;
               background: #f6f7f8;
            }

            &.kids-4 {
               $color: #8cc152; 
               color: $color;
               border-color: $color;
               background-color: #fbfdf6;
            }
         }

         .name {
            text-align: left;
            display: block;
            font-weight: bold;
            line-height: 1.4;
            font-size: 0.9rem;
         }
      }

      .main-nav-button-cont {
         background: #f4f4f4;
         padding: 1rem $page_padding_side;
         position: fixed;
         bottom: 0;
         width: 100%;        

         .main-nav-button {
            background: #bfbfbf;
            padding: 1.4rem 1rem;
            font-weight: bold;
            font-size: 1rem;
            text-align: center;
            border-radius: 4px;
            display: block;
            text-decoration: none;
            color: #fff;

            &.active {
               background: #3a99d8;
            }
         }

      }
   }
}


// SEC: Selection
// ==============

.page-selection {   
   > header {


   }

   > main {

      h1 {
         padding: 2rem $page_padding_side;
         text-align: center;
         font-size: 1.4rem;
         font-weight: bold;
      }

      .steps-cont {
         @extend .clearfix;

         $bg_steps_cont: #f4f4f4; 

         padding: 1rem $page_padding_side;
         background: $bg_steps_cont;
         width: 100%;        

         ul {
            counter-reset: step;
            display: flex;
            justify-content: space-between;
            position: relative;

            li {
               $circle_diameter: 1.85rem;
               $bar_height: 0.7rem;

               list-style-type: none;
               // width: 33.333%;
               // float: left;
               position: relative;
               text-align: center;

               display: block;
               color: #808080;
               margin-top: 0.5rem;
               font-size: 0.9rem;

               // Item icon and number
               &:before {
                  line-height: $circle_diameter;
                  width: $circle_diameter;
                  height: $circle_diameter;
                  content: counter(step);
                  counter-increment: step;
                  display: block;
                  text-align: center;
                  margin: 0 auto 10px auto;
                  font-size: 0.9rem;
                  font-weight: bold;
                  background: #bfbfbf;
                  color: #eaeaea;
                  border-radius: 50%;
                  z-index: 1;
                  position: relative;
               }

               // Progress bar
               &:after {
                  width: 100vw;
                  height: $bar_height;
                  content: '';
                  position: absolute;
                  background-color: #eaeaea;
                  top: ($circle_diameter - $bar_height)/2;
                  // left: -33.33vw;
                  left: 50%;
                  z-index: 0;
               }

               &:last-child:after {
                  background: $bg_steps_cont;
               }

               &:first-child:after {
                  // content: none;
               }

               &.active {
                  $color: #3a99d8;                  
                  color: $color;
                  font-weight: bold;

                  &:before {
                     background: $color;
                     color: #fff;
                  }
               }

               &.done {
                  $color: #39ca74;

                  color: $color;
                  font-weight: bold;

                  &:before {
                     // color: #fff;
                     // background-color: #fff;
                                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                     background-image: url("../img/icon_check.svg");
                     background-repeat: no-repeat;
                     background-size: 80%;
                     background-position: center;
                     background: #39ca74;
                     content: "\2713";
                  }

                  &:after {
                     background-color: $color;
                  }
               }
            }
         }
      }

      .offer-gallery {
         padding: 0 $page_padding_side;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      .offer {
         $offset: 0.5rem;
         border-radius: 4px;
         // width: 50%;
         flex-grow: 0;
         flex-shrink: 0;
         margin: $offset;
         flex-basis: calc(50% - #{2*$offset});
         max-width: calc(50% - #{2*$offset});
         // box-sizing: border-box;
         // margin: 1rem;

         .selected-icon {

         }
      }
   }

   > footer {
      padding: 0 $page_padding_side;
      background: #ffffff;

      .logo-and-social {
         display: flex;
         justify-content: space-between;

         .pub-logo {

         }

         .fb-like {
            width: 50px;
            height: 20px;
            background: blue;
         }
      }

      nav {
         ul {
            display: flex;
            flex-wrap: wrap;

            li {
               width: 50%;
               
               a {
                  color: #404040;
                  text-decoration: none;

                  &:hover {
                     opacity: 0.8;
                     text-decoration: underline;
                  }
               }

            }
         }
      }
   }
}


// SEC: Info
// =========

.page-info {
   > main {
      .offer {
         width: 100%;
      }

   }
}